node_modules/
dist/
.next/
*.log
.env
.env.local
.env.*.local
.env.production
.env.development
*.pem
*.key
docker/nginx/certs/
!.env.example
coverage/
.turbo/
# PostgreSQL portátil (Windows sem Docker)
.pgportable/
.pgdata/
PGDATA~1/
*.tsbuildinfo
.DS_Store
docker/data/
backups/
*.sql
*.sql.gz
!**/prisma/migrations/**/*.sql
!scripts/
.vscode/
.idea/
*.swp
*.swo
*~
